development:
  github_app_id: eb16aa87521e5d7bee6c
  github_app_secret: 2fe5753ea37e1a5140d0c5a57432770ca17db4c8
  twitter_consumer_key: L4KStgy8urqZXK1uafEdNeDxG
  twitter_consumer_secret: KzuQsDYYeR3XqRpuY2PZwyt9DQt5SexI3OMN2p6xZhuhgarZaL
