= form_for(current_user.tag_follows.build(tag_id: @tag.id), remote: true) do |f|
  = f.hidden_field :user_id
  = f.hidden_field :tag_id
  = f.submit "フォローする", class: "btn btn-success follow-btn js-user-follow-btn"
