= form_for(current_user.tag_follows.find_by(tag_id: @tag.id), html: { method: :delete }, remote: true) do |f|
  = f.hidden_field :user_id
  = f.hidden_field :tag_id
  = f.submit "フォロー中", class: "btn follow-btn js-user-follow-btn"
