// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

button{
  .disabled {
    cursor:default;
    background-image:none;
    opacity:.65;
    filter:alpha(opacity=65);
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    border-bottom:0;
    margin-bottom:1px;
  }  
}

